<nav class="top-navbar">
  <ul class="nav-links">
    <li>
      <a href="#" class="active"><span>Customer</span></a>
    </li>
    <li>
      <a href="#"><span>Business</span></a>
    </li>
    <li>
      <a href="#"><span>About us</span></a>
    </li>
  </ul>
  <a href="#" class="rewards-btn" id="rewardsBtn">
    <svg
      class="user-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
      <circle cx="12" cy="7" r="4"></circle>
    </svg>
    Shell GO+ Rewards
  </a>
</nav>
