<sly data-sly-use.card="com.shell.core.models.CardV2"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${!card.isEmpty}"/>

<div data-sly-test="${hasContent}" class="card-v2-wrapper ${properties['cq:styleIds']}">
    <div class="card-v2-container">
        <div class="card-v2-content${!card.imageReference ? ' no-image' : ''}">
            <!-- Image Block -->
            <div data-sly-test="${card.imageReference}" class="card-v2-image">
                <img src="${card.imageReference @ context='uri'}" alt="${card.title}" />
            </div>
            <!-- Header Block: Title + Button -->
            <div class="card-v2-header">
                <div data-sly-test="${card.title}" class="card-v2-title">
                    <h3 class="cardv2-title">${card.title}</h3>
                </div>
                <div data-sly-test="${card.showButton}" class="card-v2-button"
                     data-sly-resource="${'shellbutton' @ resourceType='shell/components/content/shell-button', decorationTagName='div'}">
                </div>
            </div>
        </div>
    </div>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"/>
