<div class="custom-wrapper">
    <div class="my-custom-image-container">
        <!-- Left Side - Container -->
        <div class="left-container">
            <sly data-sly-resource="${'playstorecard' @ resourceType='/apps/shell/components/content/playstorecard',decorationTagName ='div'}" />
        </div>

        <!-- Right Side - Image -->
        <div class="right-image">
            <sly data-sly-resource="${resource @ resourceType='core/wcm/components/image/v2/image'}" />
        </div>
    </div>
</div>
