<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html"/>
<div class="footer_container_main">
    <div class="footer_container">
    <div class="fc_footer1">
            <div class="fc_title1">
                <sly data-sly-resource="${'title1' @ resourceType='/apps/shell/components/title'}"></sly>
            </div>
            <div class="footer1">
                <sly data-sly-resource="${'footer1' @ resourceType='/apps/shell/components/content/shell-footer'}"></sly>
            </div>
    </div>
    <div class="fc_footer2">
            <div class="fc_title2">
                <sly data-sly-resource="${'title2' @ resourceType='/apps/shell/components/title'}"></sly>
            </div>
            <div class="footer2">
                <sly data-sly-resource="${'footer2' @ resourceType='/apps/shell/components/content/shell-footer'}"></sly>
            </div>
    </div>
    <div class="fc_footer3">
            <div class="fc_title3">
                <sly data-sly-resource="${'title3' @ resourceType='/apps/shell/components/title'}"></sly>
            </div>
            <div class="footer3">
                <sly data-sly-resource="${'footer3' @ resourceType='/apps/shell/components/content/shell-footer'}"></sly>
            </div>
    </div>
    <div class="fc_footer4">
            <div class="fc_title4">
                <sly data-sly-resource="${'title4' @ resourceType='/apps/shell/components/title'}"></sly>
            </div>
            <div class="footer4">
                <sly data-sly-resource="${'footer4' @ resourceType='/apps/shell/components/content/shell-footer'}"></sly>
            </div>
    </div>
    </div>
    <div class="bottom_footer">
    <div class="fc_footer5">  
            <div class="footer5">
                <sly data-sly-resource="${'footer5' @ resourceType='/apps/shell/components/content/shell-footer'}"></sly>
            </div>
    </div>
    <div class="fc_footer6">  
            <div class="footer6">
                <sly data-sly-resource="${'footer6' @ resourceType='/apps/shell/components/content/shell-footer'}"></sly>
            </div>
    </div>
    </div>
</div>