/* ORIGINAL STYLES */
.section-main {
  display: flex;
  justify-content: center;
}

.cmp_hero-banner {
  position: relative;
  width: 100%;
  max-width: 1100px;
  border-radius: 18px;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  // margin-left: 16%;
}

.cmp_hero-banner_img {
  width: 100%;
  max-width: 1074px;
  height: auto;
  display: block;
  border-radius: 10px;
}

.cmp_hero-banner_text {
  position: absolute;
  top: 60px;
  left: 44px;
  width: 43%;
  height: 55%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;

}

.cmp-herobanner-title {
  font-size: 32px;
  color: #000;
}


.cmp_hero-banner_para  {
  font-size: 15px;
  color: #fff;
  margin: 10px 0;
}

/* VARIANT STYLE SYSTEM CLASS - Transparent Card Details */
.transparent-card-details .cmp_hero-banner {
  background: transparent;
  border-radius: 0;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.transparent-card-details .cmp_hero-banner_img {
  width: 100%;
  max-width: 1079px;
  height: 300px;
  display: block;
  border-radius: 10px;
}

.transparent-card-details .cmp_hero-banner_text {
  background-color: rgba(2, 4, 3, 0.3);
  top: 132px;
  width: 98%;
  left: 0;
  border-radius: 0;
}

.transparent-card-details .cmp_hero-banner_para p {
  position: relative;
  font-size: 11px;
  margin-top: 0;
  color: #fff;
  top: 0px;
}

.transparent-card-details .cmp-herobanner-title {
  position: relative;
  font-size: 23px;
  margin: 0;
  top: -5px;
  color: #fff;
}

/* VARIANT STYLE SYSTEM CLASS - Home herobanner Details */
.home-herobanner-details .cmp_hero-banner {
  position: relative;
  width: 100%;
  max-width: 1100px;
  border-radius: 18px;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: row;
}

.home-herobanner-details .cmp_hero-banner_img {
    border-radius: 10px;
    display: block;
    height: 700px;
    max-width: 100pc;
    width: 900px;
    object-fit: cover;
    background-position: center;
}

.home-herobanner-details .cmp_hero-banner_text {
  position: absolute;
  top: 236px;
  left: 69px;
  width: 25%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(2, 4, 3, 0.3);
  border-radius: 16px;
}

.home-herobanner-details .cmp_hero-banner_para p {
  font-size: 11px;
  color: #fff;
}

.home-herobanner-details .cmp-herobanner-title {
  font-size: 23px;
  color: #fff;
}

.shell-recharge-herobanner .cmp_hero-banner {
  position: relative;
  width: 100%;
  max-width: 1100px;
  border-radius: 18px;
  overflow: visible;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  height: 390px;
}

.shell-recharge-herobanner .cmp_hero-banner_img {
  width: 100%;
  max-width: 1074px;
  height: auto;
  display: block;
  border-radius: 10px;
}

.shell-recharge-herobanner .cmp_hero-banner_text {
  position: absolute;
  top: 215px;
  left: 0px;
  width: 64%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0 16px 0 0;
}

.shell-recharge-herobanner .cmp_hero-banner_para p {
  font-size: 11px;
  color: #000;
}

.shell-recharge-herobanner .cmp-herobanner-title {
  font-size: 23px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .cmp_hero-banner_img {
    border-radius: 10px 10px 0 0;
  }

  .cmp_hero-banner {
    display: block;
    max-width: 70%;
  }

  .cmp_hero-banner_text {
    position: static;
    width: 100%;
    height: auto;
    padding: 0 20px 10px 20px;
    background-color: #fff;
    border-radius: 0 0 0 0;
  }

  .cmp-herobanner-title {
    font-size: 32px;
    color: #000;
  }

  .cmp_hero-banner_para p {
    font-size: 12px;
    color: #000;
  }

  /*  Responsive for variant */
  .transparent-card-details .cmp_hero-banner {
    height: 240px;
  }

  .transparent-card-details .cmp_hero-banner_img {
    max-width: 100%;
    height: 13vh;
  }

  .transparent-card-details .cmp_hero-banner_text {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(149, 21%, 13%, 0.3);
    padding: 0 20px 10px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: normal;
    margin-right: 8px;
    border-radius: 0;
  }

  /* Responsive for variant  */
  .home-herobanner-details .cmp_hero-banner_img {
    border-radius: 10px 10px 0 0;
    display: block;
    height: 30%;
    max-width: 50pc;
    width: 100%;
  }

  .home-herobanner-details .cmp_hero-banner {
    display: block;
    max-width: 70%;
  }

  .home-herobanner-details .cmp_hero-banner_text {
    position: static;
    width: 100%;
    height: auto;
    padding: 0 20px 10px 20px;
    background-color: #fff;
    border-radius: 0 0 0 0;
  }

  .home-herobanner-details .cmp-herobanner-title {
    font-size: 32px;
    color: #000;
  }

  .home-herobanner-details .cmp_hero-banner_para p {
    font-size: 13px;
    color: #000;
  }

  /*  Responsive for variant  */
  .shell-recharge-herobanner .cmp_hero-banner_img {
    border-radius: 10px 10px 0 0;
    display: block;
    height: 30%;
    width: 100%;
  }

  .shell-recharge-herobanner .cmp_hero-banner {
    display: block;
    max-width: 70%;
    height: 50%;
  }

  .shell-recharge-herobanner .cmp_hero-banner_text {
    position: static;
    width: 100%;
    height: auto;
    padding: 0 20px 10px 20px;
    background-color: #fff;
    border-radius: 0 0 0 0;
  }

  .shell-recharge-herobanner .cmp-herobanner-title {
    font-size: 32px;
    color: #000;
  }

  .shell-recharge-herobanner .cmp_hero-banner_para p {
    font-size: 18px;
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  .cmp_hero-banner_text {
    background-color: #121212;
  }

  .cmp_hero-banner_para p {
    color: #fff;
  }

  .cmp-herobanner-title {
    color: #fff;
  }

  .shell-recharge-herobanner .cmp_hero-banner_text {
    background-color: #121212;
  }

  .shell-recharge-herobanner .cmp-herobanner-title {
    color: #fff;
  }

  .shell-recharge-herobanner .cmp_hero-banner_para p {
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    .cmp_hero-banner_text {
      background-color: #121212;
    }

    .cmp_hero-banner_para p {
      color: #fff;
    }

    .cmp-herobanner-title {
      color: #fff;
    }

    .home-herobanner-details .cmp_hero-banner_text {
      background-color: #121212;
    }

    .home-herobanner-details .cmp_hero-banner_para p {
      color: #fff;
    }

    .home-herobanner-details .cmp-herobanner-title {
      color: #fff;
    }

    .shell-recharge-herobanner .cmp_hero-banner_text {
      background-color: #121212;
    }

    .shell-recharge-herobanner .cmp-herobanner-title {
      color: #fff;
    }

    .shell-recharge-herobanner .cmp_hero-banner_para p {
      color: #fff;
    }
  }
}