.shell-accordian {

    .cmp-accordion {

        border: 2px solid gray;
        position: relative;
        border-radius: 20px;

    }

    .cmp-accordion__button {
        font-size: large;
        color: rgb(63, 63, 63);
        position: relative;
        padding: 16px 32px;
        border: none;
        border-radius: 20px 20px 20px 20px;

        &::after {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            background: url('data:image/svg+xml;utf8,<svg fill="black" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6z"/></svg>') no-repeat center center;
            background-size: contain;
            pointer-events: none;
            transition: transform 0.3s;
        }
    }

    // Rotate chevron when expanded
    .cmp-accordion__button--expanded::after {
        border-radius: 20px 20px 0px 0px;
        transform: translateY(-50%) rotate(180deg);
    }

    .cmp-accordion__item {}

    .cmp-accordion__header {}

    .cmp-accordion__title {}

    .cmp-accordion__icon {}

    .cmp-accordion__panel {}

    .cmp-accordion__panel--expanded {
        padding: 16px 32px;
    }

    .cmp-accordion__panel--hidden {}

}

@media (prefers-color-scheme: dark) {
    .cmp-text p {
        color: white;
    }
}