<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html"/>
<sly data-sly-use.model="com.shell.core.models.Search"/>
<form method="get" action="/bin/search" class="search-form">
    <div class="search-input-wrapper">
        <input type="text" name="searchTerm" placeholder="${model.placeholder}" class="search-input" />
        <button type="button" class="clear-input" style="display:none;" aria-label="Clear search">&times;</button>
    </div>
    <!-- Hidden field for componentPath -->
    <input type="hidden" name="componentPath" value="/content/shell/us/en/test/jcr:content/root/container/container/search" />

    <button type="submit" class="search-button">
        🔍
    </button>
</form>
<div class="search-result" id="results"></div>

